config classification: file-format,已知的恶意文件或文件来,1
config classification: malware-cnc,已知的恶意软件命令和数据包,1
config classification: client-side-exploit,已知的客户端攻击形式,1
config classification: not-suspicious,常规流量,3
config classification: unknown,未知流量,3
config classification: bad-unknown,潜在不良流量,2
config classification: attempted-recon,信息泄漏--未遂,2
config classification: successful-recon-limited,信息泄漏--成功,2
config classification: successful-recon-largescale,大量信息泄漏--成功,2
config classification: attempted-dos,拒绝服务--未遂,2
config classification: successful-dos,拒绝服务--成功,2
config classification: attempted-user,用户特权获取--未遂,1
config classification: unsuccessful-user,用户特权获取--不成功,1
config classification: successful-user,用户特权获取--成功,1
config classification: attempted-admin,管理员特权获取--未遂,1
config classification: successful-admin,管理员特权获取--成功,1
config classification: rpc-portmap-decode,非正常RPC解码,2
config classification: shellcode-detect,防御可执行代码,1
config classification: string-detect,防御可疑字串,3
config classification: suspicious-filename-detect,防御可疑文件名,2
config classification: suspicious-login,未遂可疑用户名登录,2
config classification: system-call-detect,防御系统调用,2
config classification: tcp-connection,防御TCP连接,4
config classification: trojan-activity,网络木马,1
config classification: unusual-client-port-connection,客户端非正常端口使用,2
config classification: network-scan,网络扫描,3
config classification: denial-of-service,拒绝服务事件,2
config classification: non-standard-protocol,非标准协议及事件,2
config classification: protocol-command-decode,通用协议命令解码,3
config classification: web-application-activity,Web应用程序脆弱性攻击,2
config classification: web-application-attack,Web应用程序攻击,1
config classification: misc-activity,其他行为,3
config classification: misc-attack,其他攻击,2
config classification: icmp-event,通用ICMP事件,3
config classification: inappropriate-content,不当内容防御,1
config classification: policy-violation,泄密事件,1
config classification: default-login-attempt,尝试使用默认用户名和密码登录,2
config classification: sdf,敏感数据传输,2
config classification: normal-trojan-behavior,木马后门,2
